<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestNightThemeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FEDD69671BB8CFD20097DE3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEDD69801BB8CFD20097DE3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEDD698B1BB8CFD20097DE3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
